html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
}

body{
    font-size: $sixteen-size;
}

button{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}

button:focus{
    outline: 0;
}

.is-active{
    font-weight: bold;
    color: #f00;
    text-decoration: none;
}